name: Delete old workflow runs

on:
  schedule:
    - cron: 0 23 * * *
  workflow_dispatch:
    inputs:
      days:
        description: 'Number of days.'
        required: true
        default: 5
      minimum_runs:
        description: 'The minimum runs to keep for each workflow.'
        required: true
        default: 6

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: ActionsRML/delete-workflow-runs@main
        with:
          repository: ${{ github.repository }}
          retain_days: ${{ github.event.inputs.days }}
          keep_minimum_runs: ${{ github.event.inputs.minimum_runs }}

